doctype html
head
  style.
    a {                        color:rgb(140,140,250);                        }                        *::-webkit-scrollbar-track-piece {                            background-color:rgba(255, 255, 255, 0.2) !important;                        }                        *::-webkit-scrollbar-track {                            background-color:rgba(255, 255, 255, 0.3) !important;                        }                        *::-webkit-scrollbar-thumb {                            background-color:rgba(255, 255, 255, 0.5) !important;                        }                        .pdfViewer,                        embed[type="application/pdf"] {                            filter:invert(90%);                        }
  style#nighteyedefaultcss.
    html {                            color:#bfbfbf;                            background-image:none !important;                            background:#1f1f1f !important;                        }                        body,                        body > .container {                            background-color:#1f1f1f;                            background-image:none !important;                        }                        input, select, textarea, button {                            color:#bfbfbf;                            background-color:#1f1f1f;                            border-color: #616161 !important;                        }                        input[type="radio"]::before,                        input[type="radio"]::after {                            background-color: #616161 !important;                        }                        text {                            fill:#bfbfbf;                        }                        font {                            color:#bfbfbf;                        }
  style.
    html { filter: contrast(100%) brightness(100%) saturate(100%);}                        .NIGHTEYE_Filter {                            width:100%; height:100%;                            position:fixed;                            left:0; top:0;                            pointer-events:none;                            z-index:4000000000;                        }                        .NIGHTEYE_YellowFilter {                            background:rgba(255, 255, 0, 0.15);                            opacity:0;                        }                        .NIGHTEYE_BlueFilter {                            background:rgba(0, 0, 255, 0.15);                            opacity:0;                        }                        .NIGHTEYE_DimFilter {                            background:rgba(0, 0, 0, 0.5);                            opacity:0;                        }                        .NIGHTEYE_TransformZ {                            transform:translateZ(0);                        }
  // THIS IS A COMMENT
  title Sample Web Page
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  style.
    blockquote { margin-left:20px; margin-right:5px }
    pre { overflow-x:auto }
    .tt { font-family:monospace }
    .nowrap { white-space:nowrap }
    .example { font-family:monospace; white-space:pre; overflow-x:auto; }
    h3 { border-top:1px solid grey }
    blockquote { margin-top:0; margin-bottom:0 }
    table.compact { border-collapse:collapse }
    table.compact th { text-align:left; background:#eeeeee }
    table.compact td,th { padding:0 4px 0 8px; border:1px solid grey }
  style.
    .ismanga{font-family:"Bangers"}.ismanga *,.ismanga *::before,.ismanga *::after{box-sizing:border-box}.ismanga ul[class],.ismanga ol[class]{padding:0}.ismanga body,.ismanga h1,.ismanga h2,.ismanga h3,.ismanga h4,.ismanga p,.ismanga ul[class],.ismanga ol[class],.ismanga li,.ismanga figure,.ismanga figcaption,.ismanga blockquote,.ismanga dl,.ismanga dd{margin:0}.ismanga body{line-height:1.5;min-height:100vh;scroll-behavior:smooth;text-rendering:optimizeSpeed}.ismanga ul[class],.ismanga ol[class]{list-style:none}.ismanga a:not([class]){text-decoration-skip-ink:auto}.ismanga img{display:block;max-width:100%}.ismanga input,.ismanga button,.ismanga textarea,.ismanga select{font:inherit}@media(prefers-reduced-motion: reduce){.ismanga *{animation-duration:.01ms !important;animation-iteration-count:1 !important;scroll-behavior:auto !important;transition-duration:.01ms !important}}.ismanga .control-panel-tabs{display:flex;justify-content:space-around;list-style:none;margin-bottom:4px;padding:0}.ismanga .control-panel-tabs__item{line-height:1.2;margin-left:8px;margin-right:8px}.ismanga .control-panel-tabs__item:first-child{margin-left:0}.ismanga .control-panel-tabs__item:last-child{margin-right:0}.ismanga .control-panel-tabs__item:hover .control-panel-tabs__item-btn,.ismanga .control-panel-tabs__item.active .control-panel-tabs__item-btn{box-shadow:0 4px #b4183d;color:#b4183d;cursor:pointer}.ismanga .control-panel-tabs__item-btn{background:none;border:0;border-radius:0;color:#ccc;font-family:"Bangers";font-size:16px;padding:0}
  style.
    .ismanga{font-family:"Bangers"}.ismanga *,.ismanga *::before,.ismanga *::after{box-sizing:border-box}.ismanga ul[class],.ismanga ol[class]{padding:0}.ismanga body,.ismanga h1,.ismanga h2,.ismanga h3,.ismanga h4,.ismanga p,.ismanga ul[class],.ismanga ol[class],.ismanga li,.ismanga figure,.ismanga figcaption,.ismanga blockquote,.ismanga dl,.ismanga dd{margin:0}.ismanga body{line-height:1.5;min-height:100vh;scroll-behavior:smooth;text-rendering:optimizeSpeed}.ismanga ul[class],.ismanga ol[class]{list-style:none}.ismanga a:not([class]){text-decoration-skip-ink:auto}.ismanga img{display:block;max-width:100%}.ismanga input,.ismanga button,.ismanga textarea,.ismanga select{font:inherit}@media(prefers-reduced-motion: reduce){.ismanga *{animation-duration:.01ms !important;animation-iteration-count:1 !important;scroll-behavior:auto !important;transition-duration:.01ms !important}}.ismanga .ismanga-button{border:0;box-sizing:border-box;cursor:pointer;font-size:14px;letter-spacing:1px;line-height:normal;outline:none;width:100%}.ismanga .ismanga-button--primary{background-color:#b4183d;color:#fff}.ismanga .ismanga-button--primary-active,.ismanga .ismanga-button--primary:hover,.ismanga .ismanga-button--primary:active,.ismanga .ismanga-button--primary:focus{background-color:#901330}.ismanga .ismanga-button--primary-outline{background-color:#fff;border:2px solid #b4183d;color:#b4183d}.ismanga .ismanga-button--primary-outline-active,.ismanga .ismanga-button--primary-outline:hover,.ismanga .ismanga-button--primary-outline:active,.ismanga .ismanga-button--primary-outline:focus{background-color:#b4183d;color:#fff}
  style.
    .ismanga{font-family:"Bangers"}.ismanga *,.ismanga *::before,.ismanga *::after{box-sizing:border-box}.ismanga ul[class],.ismanga ol[class]{padding:0}.ismanga body,.ismanga h1,.ismanga h2,.ismanga h3,.ismanga h4,.ismanga p,.ismanga ul[class],.ismanga ol[class],.ismanga li,.ismanga figure,.ismanga figcaption,.ismanga blockquote,.ismanga dl,.ismanga dd{margin:0}.ismanga body{line-height:1.5;min-height:100vh;scroll-behavior:smooth;text-rendering:optimizeSpeed}.ismanga ul[class],.ismanga ol[class]{list-style:none}.ismanga a:not([class]){text-decoration-skip-ink:auto}.ismanga img{display:block;max-width:100%}.ismanga input,.ismanga button,.ismanga textarea,.ismanga select{font:inherit}@media(prefers-reduced-motion: reduce){.ismanga *{animation-duration:.01ms !important;animation-iteration-count:1 !important;scroll-behavior:auto !important;transition-duration:.01ms !important}}.ismanga .control-panel-edit-content__desc{font-size:14px;margin-bottom:12px;margin-top:16px;width:128px}.ismanga .control-panel-edit-content__btn{border-radius:4px;padding:8px 16px}
  style.
    .ismanga{font-family:"Bangers"}.ismanga *,.ismanga *::before,.ismanga *::after{box-sizing:border-box}.ismanga ul[class],.ismanga ol[class]{padding:0}.ismanga body,.ismanga h1,.ismanga h2,.ismanga h3,.ismanga h4,.ismanga p,.ismanga ul[class],.ismanga ol[class],.ismanga li,.ismanga figure,.ismanga figcaption,.ismanga blockquote,.ismanga dl,.ismanga dd{margin:0}.ismanga body{line-height:1.5;min-height:100vh;scroll-behavior:smooth;text-rendering:optimizeSpeed}.ismanga ul[class],.ismanga ol[class]{list-style:none}.ismanga a:not([class]){text-decoration-skip-ink:auto}.ismanga img{display:block;max-width:100%}.ismanga input,.ismanga button,.ismanga textarea,.ismanga select{font:inherit}@media(prefers-reduced-motion: reduce){.ismanga *{animation-duration:.01ms !important;animation-iteration-count:1 !important;scroll-behavior:auto !important;transition-duration:.01ms !important}}.ismanga .ismanga-select__option{cursor:pointer}.ismanga .ismanga-select__control{cursor:pointer}
  style.
    .ismanga{font-family:"Bangers"}.ismanga *,.ismanga *::before,.ismanga *::after{box-sizing:border-box}.ismanga ul[class],.ismanga ol[class]{padding:0}.ismanga body,.ismanga h1,.ismanga h2,.ismanga h3,.ismanga h4,.ismanga p,.ismanga ul[class],.ismanga ol[class],.ismanga li,.ismanga figure,.ismanga figcaption,.ismanga blockquote,.ismanga dl,.ismanga dd{margin:0}.ismanga body{line-height:1.5;min-height:100vh;scroll-behavior:smooth;text-rendering:optimizeSpeed}.ismanga ul[class],.ismanga ol[class]{list-style:none}.ismanga a:not([class]){text-decoration-skip-ink:auto}.ismanga img{display:block;max-width:100%}.ismanga input,.ismanga button,.ismanga textarea,.ismanga select{font:inherit}@media(prefers-reduced-motion: reduce){.ismanga *{animation-duration:.01ms !important;animation-iteration-count:1 !important;scroll-behavior:auto !important;transition-duration:.01ms !important}}.ismanga .control-panel-view-content__select-label{font-size:14px;letter-spacing:.5px;line-height:1.2;margin-bottom:4px;margin-top:16px}.ismanga .control-panel-view-content__btn-container{display:flex;flex-direction:column;margin-top:12px}.ismanga .control-panel-view-content__btn:first-child{margin-bottom:12px}.ismanga .control-panel-view-content__btn{border-radius:4px;padding:8px 16px}
  style.
    .ismanga{font-family:"Bangers"}.ismanga *,.ismanga *::before,.ismanga *::after{box-sizing:border-box}.ismanga ul[class],.ismanga ol[class]{padding:0}.ismanga body,.ismanga h1,.ismanga h2,.ismanga h3,.ismanga h4,.ismanga p,.ismanga ul[class],.ismanga ol[class],.ismanga li,.ismanga figure,.ismanga figcaption,.ismanga blockquote,.ismanga dl,.ismanga dd{margin:0}.ismanga body{line-height:1.5;min-height:100vh;scroll-behavior:smooth;text-rendering:optimizeSpeed}.ismanga ul[class],.ismanga ol[class]{list-style:none}.ismanga a:not([class]){text-decoration-skip-ink:auto}.ismanga img{display:block;max-width:100%}.ismanga input,.ismanga button,.ismanga textarea,.ismanga select{font:inherit}@media(prefers-reduced-motion: reduce){.ismanga *{animation-duration:.01ms !important;animation-iteration-count:1 !important;scroll-behavior:auto !important;transition-duration:.01ms !important}}.ismanga .control-panel{background:#fff;border-bottom-right-radius:8px;border-top-right-radius:8px;box-shadow:0 0 5px #b4b4b4;color:#000;padding:16px}
  style.
    .ismanga{font-family:"Bangers"}.ismanga *,.ismanga *::before,.ismanga *::after{box-sizing:border-box}.ismanga ul[class],.ismanga ol[class]{padding:0}.ismanga body,.ismanga h1,.ismanga h2,.ismanga h3,.ismanga h4,.ismanga p,.ismanga ul[class],.ismanga ol[class],.ismanga li,.ismanga figure,.ismanga figcaption,.ismanga blockquote,.ismanga dl,.ismanga dd{margin:0}.ismanga body{line-height:1.5;min-height:100vh;scroll-behavior:smooth;text-rendering:optimizeSpeed}.ismanga ul[class],.ismanga ol[class]{list-style:none}.ismanga a:not([class]){text-decoration-skip-ink:auto}.ismanga img{display:block;max-width:100%}.ismanga input,.ismanga button,.ismanga textarea,.ismanga select{font:inherit}@media(prefers-reduced-motion: reduce){.ismanga *{animation-duration:.01ms !important;animation-iteration-count:1 !important;scroll-behavior:auto !important;transition-duration:.01ms !important}}.ismanga .ismanga-spinner{align-items:center;display:flex;flex-direction:column;position:absolute}.ismanga .ismanga-spinner__inner{animation:spin 2s linear infinite;border-color:rgba(0,0,0,.04);border-radius:50%;border-style:solid;border-top-color:#b4183d}@keyframes spin{0%{transform:rotate(0deg)}100%{transform:rotate(360deg)}}
  style.
    .ismanga{font-family:"Bangers"}.ismanga *,.ismanga *::before,.ismanga *::after{box-sizing:border-box}.ismanga ul[class],.ismanga ol[class]{padding:0}.ismanga body,.ismanga h1,.ismanga h2,.ismanga h3,.ismanga h4,.ismanga p,.ismanga ul[class],.ismanga ol[class],.ismanga li,.ismanga figure,.ismanga figcaption,.ismanga blockquote,.ismanga dl,.ismanga dd{margin:0}.ismanga body{line-height:1.5;min-height:100vh;scroll-behavior:smooth;text-rendering:optimizeSpeed}.ismanga ul[class],.ismanga ol[class]{list-style:none}.ismanga a:not([class]){text-decoration-skip-ink:auto}.ismanga img{display:block;max-width:100%}.ismanga input,.ismanga button,.ismanga textarea,.ismanga select{font:inherit}@media(prefers-reduced-motion: reduce){.ismanga *{animation-duration:.01ms !important;animation-iteration-count:1 !important;scroll-behavior:auto !important;transition-duration:.01ms !important}}.ismanga .ismanga-screenshot-translation-content{height:100%;position:absolute;width:100%}.ismanga .ismanga-screenshot-translation-content--overlayer{background-color:rgba(0,0,0,.5);border:4px solid #b4183d}.ismanga .ismanga-screenshot-translation-content__warning{align-items:center;background-color:#fff;border-bottom:4px solid #b4183d;box-sizing:border-box;color:#b4183d;display:flex;font-size:22px;height:80px;justify-content:center;left:0;letter-spacing:.5px;position:fixed;top:0;width:100%;z-index:999}.ismanga .ismanga-screenshot-translation-content__spinner-container{margin-left:12px;position:relative}.ismanga .ismanga-screenshot-translation-content__translate-btn{border-radius:4px;display:flex;font-size:20px;justify-content:center;left:16px;padding:12px 16px;position:absolute;top:16px;width:auto}.ismanga .ismanga-screenshot-translation-content__upgrade-text{color:#fff;font-size:20px;padding-top:16px}
  style.
    .ismanga{font-family:"Bangers"}.ismanga *,.ismanga *::before,.ismanga *::after{box-sizing:border-box}.ismanga ul[class],.ismanga ol[class]{padding:0}.ismanga body,.ismanga h1,.ismanga h2,.ismanga h3,.ismanga h4,.ismanga p,.ismanga ul[class],.ismanga ol[class],.ismanga li,.ismanga figure,.ismanga figcaption,.ismanga blockquote,.ismanga dl,.ismanga dd{margin:0}.ismanga body{line-height:1.5;min-height:100vh;scroll-behavior:smooth;text-rendering:optimizeSpeed}.ismanga ul[class],.ismanga ol[class]{list-style:none}.ismanga a:not([class]){text-decoration-skip-ink:auto}.ismanga img{display:block;max-width:100%}.ismanga input,.ismanga button,.ismanga textarea,.ismanga select{font:inherit}@media(prefers-reduced-motion: reduce){.ismanga *{animation-duration:.01ms !important;animation-iteration-count:1 !important;scroll-behavior:auto !important;transition-duration:.01ms !important}}.ismanga .ismanga-text-bubble-content__bubble{align-items:center;background-color:#fff;border-radius:4px;box-sizing:border-box;display:flex;justify-content:center;padding:4px;position:absolute}.ismanga .ismanga-text-bubble-content__bubble p{color:#000;line-height:1;margin:0;white-space:normal;word-break:break-word}.ismanga .ismanga-text-bubble-content__bubble:hover{box-shadow:0 0 0 2px #b4183d;cursor:pointer;z-index:9999}
  style.
    .ismanga{font-family:"Bangers"}.ismanga *,.ismanga *::before,.ismanga *::after{box-sizing:border-box}.ismanga ul[class],.ismanga ol[class]{padding:0}.ismanga body,.ismanga h1,.ismanga h2,.ismanga h3,.ismanga h4,.ismanga p,.ismanga ul[class],.ismanga ol[class],.ismanga li,.ismanga figure,.ismanga figcaption,.ismanga blockquote,.ismanga dl,.ismanga dd{margin:0}.ismanga body{line-height:1.5;min-height:100vh;scroll-behavior:smooth;text-rendering:optimizeSpeed}.ismanga ul[class],.ismanga ol[class]{list-style:none}.ismanga a:not([class]){text-decoration-skip-ink:auto}.ismanga img{display:block;max-width:100%}.ismanga input,.ismanga button,.ismanga textarea,.ismanga select{font:inherit}@media(prefers-reduced-motion: reduce){.ismanga *{animation-duration:.01ms !important;animation-iteration-count:1 !important;scroll-behavior:auto !important;transition-duration:.01ms !important}}.ismanga .ismanga-interaction-content__overlay{align-items:center;background-color:rgba(255,255,255,.7);color:#b4183d;display:flex;font-size:24px;justify-content:center;letter-spacing:1px;position:absolute;text-align:center;z-index:1}.ismanga .ismanga-interaction-content__translate-button{background-color:#b4183d;border:0;border-radius:2px;box-shadow:none;color:#fff;font-family:"bangers";letter-spacing:.8px;outline:none;padding:6px 10px}.ismanga .ismanga-interaction-content__translate-button:hover{background-color:#901330}
  style.
    .ismanga{font-family:"Bangers"}.ismanga *,.ismanga *::before,.ismanga *::after{box-sizing:border-box}.ismanga ul[class],.ismanga ol[class]{padding:0}.ismanga body,.ismanga h1,.ismanga h2,.ismanga h3,.ismanga h4,.ismanga p,.ismanga ul[class],.ismanga ol[class],.ismanga li,.ismanga figure,.ismanga figcaption,.ismanga blockquote,.ismanga dl,.ismanga dd{margin:0}.ismanga body{line-height:1.5;min-height:100vh;scroll-behavior:smooth;text-rendering:optimizeSpeed}.ismanga ul[class],.ismanga ol[class]{list-style:none}.ismanga a:not([class]){text-decoration-skip-ink:auto}.ismanga img{display:block;max-width:100%}.ismanga input,.ismanga button,.ismanga textarea,.ismanga select{font:inherit}@media(prefers-reduced-motion: reduce){.ismanga *{animation-duration:.01ms !important;animation-iteration-count:1 !important;scroll-behavior:auto !important;transition-duration:.01ms !important}}.ismanga.ismanga-control-panel-container{left:0;position:fixed;top:40%;z-index:99999 !important}
  link(rel='stylesheet' href='chrome-extension://alncdjedloppbablonallfbkeiknmkdi/css/custom-styles.css')
  link(rel='stylesheet' href='chrome-extension://alncdjedloppbablonallfbkeiknmkdi/css/scroll.css')
style.
  0
h2 Do-It-Yourself Web Authoring - a beginner&apos;s HTML tutorial
// How to insert an image
img(alt='Sample image' title='title="Text to show when mouse is hovered over this image"' src='picture-of-something.jpg' style='width:100%;')
br
span(style='font-size:84%')
  i A random photo...
  |   (The Hudson River at 125th Street about 2002)
p
  a(href='http://www.columbia.edu/~fdc/') Frank da Cruz
  br
  small
    i Updated in 2019 and 2021 for HTML5 and &quot;fluidity&quot;.
p
  | This page shows how to create Web pages by hand, the original way.  Although
  | today most Web pages are created by &quot;Web authoring systems&quot; that are
  | designed to shield you from technical details, the fact is that HTML
  | (the &quot;programming&quot; language of the Web) is not that difficult, as you can
  | see if you follow this tutorial.  To get an idea of what is possible with
  | this technique, see these 100% hand-made websites:
ul
  li
    a(href='https://kermitproject.org/newdeal/')
      | The New Deal in New
      | York City 1933-1943
  li
    a(href='http://www.columbia.edu/cu/computinghistory')
      | The History of
      | Computing at Columbia University 1890-2005
  li
    a(href='http://www.columbia.edu/~fdc/family/dcmall.html')
      | The Washington
      | DC Nation Mall in World War II
  li
    a(href='http://www.columbia.edu/~fdc/family/hallshill.html')
      | Arlington,
      | Virginia, 1956-61: The Hall&apos;s Hill Segregation Wall
  li
    a(href='http://www.columbia.edu/~fdc/family/frankfurt.html')
      | Frankfurt,
      | Germany, 1959-61
h3#contents CONTENTS
ol
  li
    a(href='#basics') Creating a Web Page
  li
    a(href='#syntax') HTML Syntax
  li
    a(href='#chars') Special Characters
  li
    a(href='#convert') Converting Plain Text to HTML
  li
    a(href='#effects') Effects
  li
    a(href='#lists') Lists
  li
    a(href='#links') Links
  li
    a(href='#tables') Tables
  li
    a(href='#viewing') Viewing your Web page
  li
    a(href='#install') Installing your Web Page on the Internet
  li
    a(href='#more') Where to go from here
  li
    a(href='#fluid') Postscript: Cell Phones
p
  | You can create a Web page on your desktop computer but nobody can see it but
  | you.  If your want other people to be able to see your Web pages, you need
  | an account on a computer that has a Web server.  Nowadays most people have
  | their own computers on their desks, but normally they don&apos;t have Web servers
  | and anyway you don&apos;t want the whole world coming into your desktop computer
  | to see your web page because (a) it&apos;s not designed for that, and (b) who
  | knows what else they might see.  And (c) for security reasons, Web servers
  | should be managed by professionals.  Most institutions have big central
  | shared computers for this purpose, which usually have
  | a 
  a(href='http://kermitproject.org/unix.html') Unix
  | -like operating
  | system such as Linux.  You need an account on one of these so you can put
  | your web pages there.  If you don&apos;t have access to such a computer, you can get
  | a low-cost account on a service like 
  a(href='http://panix.com') Panix.com
  | .
p
  | You can still create Web pages on your own computer and look at them with
  | your computer&apos;s Web browser, but for other people to see them, you have to
  | upload them to the &quot;big&quot; computer that has the Web browser.  The rest of
  | this document is about how to create your first Web page.
h3#basics 1. Creating a Web Page
| This page was typed by hand.  Anybody can do this, you don&apos;t need any
| special &quot;web creation&quot; tools or HTML editors, and the pages you make can be
| viewed from any browser.  To see how this page was made, choose
b View Source
|  (or View Page Source, or View Document Source) in your
| browser&apos;s menu (or &mdash; in at least Chrome and Firefox &mdash; Ctrl-U on
| your keyboard).  A simple web page like this one is just plain text with
| HTML commands (markup) mixed in.  HTML commands (properly called &quot;tags&quot;)
| themselves are plain text.
p
  | When you&apos;re just learning and want to experiment, you can do everything on
  | your PC.  Create a new directory (&quot;folder&quot;) for your website, and then put
  | the web-page files (HTML plus any pictures) in it.  Use NotePad or other
  | plain-text editor (not word processor) on your PC to create your &quot;home page&quot;,
  | a file named
  span.tt index.html
  | , which you can view locally with your Web
  | browser.  (You can also use a word processors such as Word or WordPad if you
  | save in &quot;plain text&quot;, &quot;text&quot;, &quot;text document&quot;, or &quot;text document MS-DOS
  | format&quot;.)
  a(href='#install') Later
  |  I&apos;ll explain how you can install your web site on
  | the Internet.
p
  | Once you&apos;ve made your &quot;home page&quot; (index.html) you can add more pages to
  | your site, and your home page can link to them.
h3#syntax 2. HTML Syntax
| Web pages are written in Hyper Text Markup Language (HTML).  HTML has three
| special characters:
span.tt &lt;
| , 
span.tt &amp;
| , 
span.tt &gt;
| .
| An HTML command is enclosed in 
span.tt &lt;...&gt;
| , for example 
span.tt &lt;p&gt;
| , which is a paragraph separator, or 
span.tt &lt;b&gt;
| (&quot;begin bold&quot;) and 
span.tt &lt;/b&gt;
|  (&quot;end bold&quot;).  So the following
| HTML text:
div(style='overflow-x:auto')
  blockquote
    pre.
      \nThis sentence contains <b>bold</b> text.
            
| produces:
p
div(style='overflow-x:auto')
  blockquote
    | This sentence contains 
    b bold
    |  text.
p
  | A Web page starts with a series of HTML commands, and ends with
  | a few more.  The contents go in between:
p
div(style='overflow-x:auto')
  blockquote
    pre.
      \n<!DOCTYPE HTML>
      <html lang="en">
      <head>
      <META charset="UTF-8">
      <META name="viewport"
       content="width=device-width, initial-scale=1.0">
      <title>Sample Web Page</title>
      </head>
      <body>
            
    p
      i (Contents go here)
    p
    pre.
      \n</body>
      </html>
            
p
  | The first line (
  span.tt DOCTYPE
  | ) specifies which markup
  | language the page uses
  | (
  a(href='https://en.wikipedia.org/wiki/HTML') HTML
  |  = Hypertext Markup
  | Language); just copy this line.  The next
  | line, 
  span.tt &lt;html&nbsp;lang=&quot;en&quot;&gt;
  | , starts the page
  | and specifies
  | the (human) language it is written in (language codes are specified
  a(href='https://en.wikipedia.org/wiki/List_of_ISO_639-1_codes') here
  | ),
  | and is matched by the line 
  span.tt &lt;/html&gt;
  | , which closes the
  | page.  
  span.tt &lt;head&gt;
  |  starts the heading, which
  | contains a title to be displayed on the browser&apos;s title bar and a
  | declaration of the character set (nowadays it should always be
  a(href='https://en.wikipedia.org/wiki/UTF-8') UTF-8
  | ) and the &quot;viewport&quot;
  | line which is a compulsory adaptation for cell phones, &quot;smart&quot; watches, etc.
  span.tt &lt;/head&gt;
  |  closes the heading.  The head can also
  | contain other items such as style parameters that you can learn about later;
  | for example by asking Google (&quot;HTML how do&nbsp;I change the font size?&quot;).
p
  | The 
  span.tt &lt;body&gt;
  |  tag starts the body of the
  | document, is closed by 
  span.tt &lt;/body&gt;
  |  tag.
p
  | As you can see, most HTML commands come in begin-end pairs:
  span.tt &lt;b&gt;...&lt;/b&gt;
  | ,
  span.tt &lt;head&gt;...&lt;/head&gt;
  | , etc.  The closing part of the command
  | has a slash (
  span.tt /
  | ) between the 
  span.tt &lt;
  |  and the first letter of
  | the command.
p
  | Blank lines and line breaks are ignored.  The browser automatically &quot;flows&quot;
  | your text into lines and paragraphs that fit in its window.  Paragraphs must
  | be separated by 
  span.tt &lt;p&gt;
  | .  Line breaks can be
  | forced by 
  span.tt &lt;br&gt;
  | .
p
dl
  dt
    i Example for Windows:
  dd
    | Use the mouse to copy the HTML above into NotePad.  Then save the file
    | (
    i File
    span.tt -&gt;
    i Save&nbsp;As...
    | )
    | in your Web directory as 
    span.tt index.html
    | .  Suppose your Windows username
    | is Olga.  Then (depending on which version of Windows you have) this might
    | be:
    div(style='overflow-x:auto')
      blockquote
        pre.
          \n          
    | Now to see your new web page, just double-click on the Web folder and
    | then double-click on 
    span.tt index.html
    | .
p
  | Now you&apos;re ready to start adding &quot;content&quot; to your web page.  Go back to
  | NotePad and replace the title and &quot;(Contents go here)&quot; with whatever you
  | want.  Any time you want to see the result, use
  i File
  span.tt -&gt;
  i Save
  |  in NotePad and then
  | click the Reload button on your browser.
p
  | The next sections tell how to achieve different kinds of effects.
h3#chars 3. Special Characters
| HTML special &quot;character entities&quot; start with ampersand (
span.tt &amp;
| ) and
| end with semicolon (
span.tt ;
| ), like &quot;
span.tt &amp;euro;
| &quot; = &quot;&euro;&quot;.  The
| ever-popular &quot;no-break space&quot; is 
span.tt &amp;nbsp;
| .  There are special
| entity names for accented Latin letters and other West European special
| characters such as:
p
div(style='overflow-x:auto')
  blockquote
    table(border='')
      tbody
        tr
          td
            span.tt &amp;auml;
          td
            | a-umlaut
          td
            | &auml;
        tr
          td
            span.tt &amp;Auml;
          td
            | A-umlaut
          td
            | &Auml;
        tr
          td
            span.tt &amp;aacute;
          td
            | a-acute
          td
            | &aacute;
        tr
          td
            span.tt &amp;agrave;
          td
            | a-grave
          td
            | &agrave;
        tr
          td
            span.tt &amp;ntilde;
          td
            | n-tilde
          td
            | &ntilde;
        tr
          td
            span.tt &amp;szlig;
          td
            | German double-s
          td
            | &szlig;
        tr
          td
            span.tt &amp;thorn;
          td
            | Icelandic thorn
          td
            | &thorn;
p
  | (The table above is shown in the basic, default style of HTML.  Of course
  | there are many ways to customize the appearance of tables; more
  | about this 
  a(href='#tables') below
  | .
p
div(style='overflow-x:auto')
  | Examples:
  dl
    dt
      | For 
      b Spanish
      |  you would need:
    dd
      span.tt &amp;Aacute;
      |  (&Aacute;),
      span.tt &amp;aacute;
      |  (&aacute;),
      span.tt &amp;Eacute;
      |  (&Eacute;),
      span.tt &amp;eacute;
      |  (&eacute;),
      span.tt &amp;Iacute;
      |  (&Iacute;),
      span.tt &amp;iacute;
      |  (&iacute;),
      span.tt &amp;Oacute;
      |  (&Oacute;),
      span.tt &amp;oacute;
      |  (&oacute;),
      span.tt &amp;Uacute;
      |  (&uacute;),
      span.tt &amp;uacute;
      |  (&uacute;),
      span.tt &amp;Uuml;
      |  (&Uuml;),
      span.tt &amp;uuml;
      |  (&uuml;),
      span.tt &amp;Ntilde;
      |  (&Ntilde;),
      span.tt &amp;ntilde;
      |  (&ntilde;);
      span.tt &amp;iquest;
      |  (&iquest;);
      span.tt &amp;iexcl;
      |  (&iexcl;).
      br
      | Example: A&ntilde;orar&aacute;n = 
      span.tt A&amp;ntilde;orar&amp;aacute;n
      | .
      p
    dt
      | For 
      b German
      |  you would need:
    dd
      span.tt &amp;Auml;
      |  (&Auml;),
      span.tt &amp;auml;
      |  (&auml;),
      span.tt &amp;Ouml;
      |  (&Ouml;),
      span.tt &amp;ouml;
      |  (&ouml;),
      span.tt &amp;Uuml;
      |  (&uuml;),
      span.tt &amp;uuml;
      |  (&uuml;),
      span.tt &amp;szlig;
      |  (&szlig;).
      br
      | Example: Gr&uuml;&szlig;e aus K&ouml;ln = 
      span.tt Gr&amp;uuml;&amp;szlig;e aus K&amp;ouml;ln
      | .
a(href='entities.html') CLICK HERE
| for a complete list.  When the page encoding is
a(href='https://en.wikipedia.org/wiki/UTF-8') UTF-8
| , which is
| recommended, you can also enter any character at all, Roman,
| Cyrillic, Arabic, Hebrew, Greek. Japanese,
| etc, either as numeric entities or (if you have a way to type them) directly
| from the keyboard.
p
  | And remember: if you want to
  | include 
  span.tt &lt;
  | , 
  span.tt &amp;
  | ,
  | or 
  span.tt &gt;
  |  literally in text to be displayed, you have
  | to write 
  span.tt &amp;lt;
  | ,
  span.tt &amp;amp;
  | , 
  span.tt &amp;gt;
  | , respectively.
h3#convert 4. Converting Plain Text to HTML
| If you have a plain text file that you want to convert to HTML, load the
| file into a plain-text editor and then follow these steps.
p
ol
  li
    | Change all occurrences of &quot;
    span.tt &amp;
    | &quot; to &quot;
    span.tt &amp;amp;
    | &quot;.
  li
    | Change all occurrences of &quot;
    span.tt &lt;
    | &quot; to &quot;
    span.tt &amp;lt;
    | &quot;.
  li
    | Change all occurrences of &quot;
    span.tt &gt;
    | &quot; to &quot;
    span.tt &amp;gt;
    | &quot;.
  li
    | Change any accented letters to HTML entity names (previous section)*.
  li
    | Put &quot;
    span.tt &lt;p&gt;
    | &quot; between each paragraph.
  li
    | Insert the standard prolog at the top, substituting an appropriate title.
  li
    | Add 
    span.tt &lt;/body&gt;
    |  and
    span.tt &lt;/html&gt;
    |  at the end.
  li
    | Save the result as 
    span.tt
      i xxx
      | .html
    | , where
    span.tt
      i xxx
    |  is the part of the original file&apos;s name
    | before the dot, or whatever-else-you-want-to-call-it.html.
p
  | If you are a 
  a(href='http://kermitproject.org/about.html') Kermit
  |  user, you
  | can find a script to convert plain text to HTML
  a(href='http://kermitproject.org/html.html') HERE
  | .
p
  | If the text contains lists, tables, or other structures, read on.
p
  | If you have a Microsoft Word document you want to convert to HTML, and your
  | copy of Word does not allow the file to be &quot;Saved As&quot; HTML, then save it as
  | plain text and follow the same instructions.  In this case you lose the
  | &quot;richness&quot; (bold, italics, font changes, etc) when you save the file, and
  | will have to put the effects back by hand (next section).
p
table(style='font-size: 80%; width: 66%; border-top: 1px solid rgb(0, 0, 0);' ne='0.5000845872737265')
  tbody
    tr
      td(style='vertical-align:top; font-size:18px')
        | *
      td
        | Not necessary if your text is already encoded as UTF-8.  If it&apos;s not
        | UTF-8, you can identify the encoding in the &lt;META charset=&quot;...&quot;&gt;
        | directive, but this topic is a bit advanced for this simple tutorial.
h3#effects 5. Effects
| The rest of this document shows some of what you can do with simple HTML
| commands, but I don&apos;t explain how to do it.  To see that, just tell your
| browser to 
b View Source
|  and compare the HTML in the source window with
| the result in the original window.
p
div(style='overflow-x:auto')
  blockquote
    i Note:
    |  In this and the following
    | sections, I use some &quot;deprecated&quot; features from earlier HTML versions
    | because they are easier for beginners to learn (for
    | example 
    span.tt &lt;big&gt;...&lt;/big&gt;
    |  versus
    span.tt(style='white-space:pre')
      | &lt;span style=&quot;font-size:120%&quot;&gt;...&lt;/span&gt;
    | ).
p
  b This sentence is bold.
  i
    | This sentence is
    | in italics.
  b
    i This sentence is in bold italics.
  span.tt
    | This
    | sentence is in typewriter font.
  |  This sentence has 
  u
    | underlined
    | words
  |  and 
  u
    b underlined bold words
  | .
  font(color='blue') This
  font(color='red') sentence
  font(color='green') has
  font(color='brown') colored
  font(color='magenta') words
  | .
  | This sentence has 
  big
    | big
    | words.
  |  This one has 
  big
    big very big words
  | .  This one has
  small
    small very small words.
p
blockquote
  | This is a &quot;blockquote&quot;, which is like a regular paragraph, but it has bigger
  | margins.  Begin a blockquote with 
  span.tt &lt;blockquote&gt;
  |  and end
  | it with 
  span.tt &lt;/blockquote&gt;
  | .  Environments such as blockquotes,
  | lists, etc, that have a beginning and an end always use paired commands like
  span.tt
    | &lt;
    i blah
    | &gt;...&lt;
    i /blah
    | &gt;
  | .
  p
  blockquote
    | This is a blockquote inside another blockquote, which shows how HTML
    | environments can be &quot;nested&quot;.
  p
    | Here we are back in the first blockquote again.
p
  | And here we are back outside of the first blockquote.
h3#lists 6. Lists
| Here is an Unordered (bullet) List (
span.tt &lt;ul&gt;..&lt;/ul&gt;
| ):
ul
  li
    | This is a List Item (
    span.tt &lt;li&gt;
    | ).
  li
    | This is another item.
  li
    | This is yet another item.
| Here is an Ordered (numbered) List (
span.tt &lt;ol&gt;..&lt;/ol&gt;
| ):
p
ol
  li
    | This is a List Item (
    span.tt &lt;li&gt;
    | ).
  li
    | This is another item.
  li
    | This is yet another item.
p
  | And here is a Description List (
  span.tt &lt;dl&gt;
  | ).
  | using Kermit commands as an example:
p
dl
  dt
    span.tt SET FILE TYPE BINARY
  dd
    | This command tells Kermit to transfer files in binary mode.  In other
    | words, don&apos;t mess with the file, just send it as-is.  The result on the
    | receiving computer should be identical to the original.
    p
  dt
    span.tt SET FILE TYPE TEXT
  dd
    | This command tells Kermit to transfer files in text mode.  This should be
    | used with plain-text files, especially when transferring them between
    | computers with different file formats or operating systems, such as VMS and
    | Unix, or Unix and Windows.  It converts the file&apos;s format and character-set
    | (if necessary) so the received file is usable on the destination computer.
p
  | You can have lists within lists:
p
ol
  li
    | A gromet
  li
    | A widget
  li
    | A framus, which consists of the following components:
    ul
      li
        | A doohickey.
      li
        | A veeblefetzer -- these come in several colors:
        ol
          li
            | Purple
          li
            | Purple
          li
            | Purple
      li
        | A whatchamacallit.
  li
    | A doodad.
p
  | And you can have ordered lists that use letters instead of numbers:
p
ol(type='a')
  li
    | Pennies
  li
    | Nickels
  li
    | Dimes
  li
    | Quarters
h3#links 7. Links
| Links can be internal within a Web page (like to
| the 
a(href='#contents') Table of Contents
|  at the top), or they
| can be to external web pages or pictures on the same website, or they
| can be to websites, pages, or pictures anywhere else in the world.
p
  | Here is a link to the 
  a(href='http://www.kermitproject.org/')
    | Kermit
    | Project home page
  | .  And here is what the HTML looks like:
div(style='overflow-x:auto')
  blockquote
    pre.
      \n<a href="http://www.kermitproject.org/">
      Kermit Project home page
      </a>
            
p
  | The part inside the quotes is called the URL (Uniform Resource Locator).
  | Here is a link to 
  a(href='#lists') Section 6
  |  of the page you are
  | reading, and the HTML:
blockquote
  pre.
    \n<a href="#lists">Section 6</a>
        
| The &quot;#&quot; indicates an internal section ID, in this case:
blockquote
  pre.
    \n<h3 id="lists">6. Lists</h3>
        
p
  | Here is a link to
  a(href='http://kermitproject.org/ckuins.html#x4.0') Section 4.0
  |  of
  | another document, at another website;
  | the 
  a(href='http://kermitproject.org/ckuins.html')
    | C-Kermit for Unix
    | Installation Instructions
  | .  And the HTML:
blockquote
  pre.
    \n<a href="http://kermitproject.org/ckuins.html#x4.0">
    Section 4.0
    </a>
        
p
  | Here is a link to a picture:
  a(href='rabbit.jpg') CLICK HERE
  |  to see it.
p
  | If you want to link to a particular section of somebody else&apos;s Web
  | page, visit the page, &quot;view source&quot;, search for the text at that spot
  | and see if there is an &quot;id=&quot; clause; if so, use the ID as shown just above;
  | if not you&apos;re out of luck.
p
  | If you want to link to a particular page of a PDF document, just put
  | &quot;#page=123&quot; (replace by the desired number) at the end of the URL.
h3#tables 8. Tables
| Here&apos;s a simple table with some headings and a few rows:
p
blockquote(style='overflow-x:auto;')
  table
    tbody
      tr
        // start table row
        th
          | Heading A
          // table heading
        th
          | Heading B
        th
          | Heading C
      tr
        // start another row
        td
          | Cell 1A
        td
          | Cell 1B
        td
          | Cell 1C
      tr
        // start another row
        td
          | Cell 2A
        td
          | Cell 2B
        td
          | Cell 2C
      tr
        // start another row
        td
          | Cell 3A
        td
          | Cell 3B
        td
          | Cell 3C
p
  | Same table again but with borders:
p
blockquote
  table(border='')
    tbody
      tr
        // start table row
        th
          | Heading A
          // table heading
        th
          | Heading B
        th
          | Heading C
      tr
        td
          | Cell 1A
        td
          | Cell 1B
        td
          | Cell 1C
      tr
        td
          | Cell 2A
        td
          | Cell 2B
        td
          | Cell 2C
      tr
        td
          | Cell 3A
        td
          | Cell 3B
        td
          | Cell 3C
p
  | The appearance with double borders is the default (and therefore easiest)
  | table style.  You can
  | use 
  a(href='https://www.w3schools.com/html/html_tables.asp')
    | table
    | attributes
  |  to change the appearance.
p
  | Here&apos;s the same table again but with Column C right-adjusted:
p
blockquote
  table(border='')
    tbody
      tr
        // start table row
        th
          | Heading A
          // table heading
        th
          | Heading B
        th
          | Heading C
      tr
        td
          | Cell 1A
        td
          | Cell 1B
        td(align='right')
          | Cell 1C
      tr
        td
          | Cell 2A
        td
          | Cell 2B
        td(align='right')
          | Cell 2C
      tr
        td
          | Cell 3A
        td
          | Cell 3B
        td(align='right')
          | Cell 3C
p#tables
  | And finally, here it again with some &quot;style&quot; parameters applied to 
  | get rid of the ugly double borders, which you can see in the 
  tt &lt;style&gt;
  |  section of the
  tt &lt;head&gt;
  |  at the top of this page, if you &quot;view source&quot;.
p
blockquote
  table.compact
    tbody
      tr
        // start table row
        th
          | Heading A
          // table heading
        th
          | Heading B
        th
          | Heading C
      tr
        td
          | Cell 1A
        td
          | Cell 1B
        td(align='right')
          | Cell 1C
      tr
        td
          | Cell 2A
        td
          | Cell 2B
        td(align='right')
          | Cell 2C
      tr
        td
          | Cell 3A
        td
          | Cell 3B
        td(align='right')
          | Cell 3C
p
  | So with just three lines added to the
  tt &lt;style&gt;
  |  section at the top of the page, you can make
  | all your tables look better.
h3#viewing 9. Viewing Your Web Page
| Anyway, back to basics.  If you make a simple 
tt index.html
| in your Web directory like:
blockquote(style='overflow-x:auto')
  pre.
    \n<!DOCTYPE HTML>
    <html lang="en">
    <head>
    <title>My first web page</title>
    <META charset="utf-8">
    <META name="viewport"
     content="width=device-width, initial-scale=1.0">
    </head>
    <body>
    <h2>This is a heading</h2>
    And this is some text.
    </body>
    </html>
        
| Then if you double-click on 
tt index.html
| , it will open in your
| Web browser.
p
  | Now you can work on your page&apos;s 
  tt &lt;body&gt;
  | : add more text,
  | add some images, add some links, add subheadings, some lists, some tables,
  | whatever you want.  Each time you make a change, reload the page in your
  | browser (usually done by clicking on the 
  b &#x27F3;
  |  symbol, or typing
  | Ctrl-R).
p
  | By the way, a web page can have any name at all, it doesn&apos;t have to be
  | index.html.  Index.html is a special name that is used for the &quot;home page&quot;
  | of a website.  To open a web page that has some other name, right-click on
  | the filename and then choose &quot;Open with...&quot;; then click on your Web
  | browser&apos;s name.
h3#install 10. Installing Your Web Page on the Internet
| How to put your web page on the Internet depends on your Internet Service
| Provider (ISP).  At Columbia University, each user has a &quot;shell account&quot; on
| the central server, which runs a Unix-based operating system, and which you
| can access with a terminal emulator such as 
a(href='http://kermitproject.org/') Kermit
| .  Here&apos;s an example that
| applies to Columbia University&apos;s web server, showing how to upload your
| files from Windows:
p
blockquote
  i
    | There are easier ways to do this than what I describe below, but they
    | require add-on software.  The following method should work for everybody
    | who has Windows and an Internet connection.
p
  | If you create a 
  span.tt public_html
  |  subdirectory of your
  | login directory, give it &quot;world&quot; read and search permission, and then create
  | an 
  span.tt index.html
  |  file in that directory and give it world
  | read permission, you&apos;ll have a home page.  In this example
  | &quot;
  span.tt $
  | &quot; is the shell prompt (yours might be different),
  | and what you type is underlined.  CAUTION: the directory name
  | is 
  span.tt public_html
  |  but the underscore might be obscured
  | the underline in the examples below.  Whenenever typing
  | &quot;
  span.tt public_html
  | &quot; always include the underscore.
  | CAUTION#2: Some Web hosting sites might use different a different name for
  | the user&apos;s Web directory.
p
blockquote
  pre.
    \n$                               
    $                 public_html     
    $            
    $                    public_html     
        
p
  | You only have to do this part once.  Remember, it&apos;s 
  tt public_html
  |  with
  | an underscore, which tends not to show up when a command is underlined.
p
  | Let&apos;s assume you have created a website in the Web folder on your PC.
  | Here&apos;s an example of how to upload your Web files to your 
  span.tt public_html
  | directory on Columbia University&apos;s
  | Cunix server using FTP (File Transfer Protocol).
  | First start the FTP program:
p
blockquote
  i Start
  span.tt -&gt;
  i Run
p
  | and type &quot;ftp&quot; in the box.  An FTP window opens and an &quot;
  span.tt ftp&gt;
  | &quot;
  | prompt appears.  Type the underlined commands at the &quot;
  span.tt ftp&gt;
  | &quot;
  | prompt (substituting your own user ID, etc):
div(style='overflow-x:auto')
  blockquote
    pre.
      \nftp>       
      Local directory now C:\Users\olga\Desktop.
      ftp>       
      Local directory now C:\Users\olga\Desktop\Web.
      ftp>       
      Connected to cunix.cc.columbia.edu.
      220 Cunix FTP server (Version 5.60) ready.
      User (cunix.cc.columbia.edu:(none)):       
      331 Password required for olga.
      Password:       
      230 User olga logged in.
      ftp>              
      ftp>       
      ftp>       
      200 PORT command successful.
      150 Opening BINARY mode data connection for index.html.
      226 Transfer complete.
      ftp: 285 bytes sent in 0.00Seconds 285000.00Kbytes/sec.
      ftp>       
      200 CHMOD command successful
      ftp>       
            
| This sends the 
span.tt index.html
|  file to your 
span.tt public_html
| directory on the server.  You can send any other file by substituting its
| name for &quot;
span.tt index.html
| .  If you want to send all the files in
| your Web folder, replace &quot;
span.tt put index.html
|  with &quot;
span.tt put&nbsp;*
| &quot;
| (asterisk, meaning &quot;all files&quot; in this directory).  Always use binary mode
| unless you know what you&apos;re doing.
p
  | If the &quot;site chmod&quot; command failed (this service is not supported by some
  | FTP servers), you have one more step.  Before others can see your web files,
  | you have to give them &quot;world read&quot; permission.  Again, log in to the server
  | using a terminal emulator (Telnet, SSH, Kermit, whatever), and:
p
blockquote
  pre.
    \n$                  public_html     
    $                      
        
p
  | Now you have a home page.  If you were at Columbia and your login ID was
  | &quot;olga&quot;, the address (URL) of your home page would be:
p
blockquote
  span.tt http://www.columbia.edu/~olga/
p
  | If you want to add pictures to your Web page, you can upload those too (also
  | with Kermit or FTP), and you also have to &quot;chmod 644&quot; all the files to make
  | them readable by everybody.  Every time you add new files to your
  span.tt public_html
  |  directory, you have to &quot;chmod&nbsp;644&quot; them so they
  | are accessible, either in the FTP session itself (as shown previously), or
  | by logging in to the host and:
p
blockquote
  pre.
    \n$      ("public_html" with underscore)
    $     
        
p
  | Pictures should be in JPG or PNG or GIF format.  To include a picture
  | (&quot;image&quot;) in your page, include a sequence like this at the desired spot:
p
blockquote
  pre.
    \n<img src="    " alt="brief description">
        
p
  | Replace 
  i filename
  |  by the name of the file
  | (e.g. 
  span.tt skyline.jpg
  | ).  Almost every HTML tag can be
  | customized by &quot;attributes&quot; in the begin tag.  For example if you want the
  | image to scale itself to the viewer&apos;s window (on a computer, cell phone,
  | or other device), and furthermore you want the text of the page to flow
  | around it, you can do:
blockquote.example
  | &lt;img alt=&quot;brief description&quot;
  | style=&quot;width:50%;
  | max-width:480px;
  | float:left;
  | margin:10px;&quot;
  | src=&quot;
  i filename
  | &quot;&gt;
p
  | You can look up the attributes in Google, just search for 
  i html width
  | ,
  i html float
  | , etc.
p
  | Now you have your own home page on the Web, and your own URL (Uniform
  | Resource Locator, or Web address).  In this example, the URL is:
p
blockquote
  tt http://www.columbia.edu/~olga/
p
  | Of course, if you prefer, you can also do all the Web-page editing directly
  | on the server, using an a server-based text editor like EMACS or Vi
  | while logged in to the Unix shell.  In that case you don&apos;t need to upload
  | anything (except maybe photos), but then you also need to be more familiar
  | with the server&apos;s Unix environment and commands and utilities.
h3#more 11. Where to go from here
| Most Web pages are created by hideous bloated &quot;Web Authoring&quot; tools, which
| are usually designed to hook you (and readers of your web pages) into some
| corporate profit-making scheme.  If all you want is text with some pictures
| and links, some section headings, and maybe some tables, as opposed to
| spinning blinking popup holograms with streaming video, sound effects, etc,
| it&apos;s best to keep it simple and do it yourself.  This is how the Web started
| off in the HTML 1.0 days of the early 1990s.  The ingenious thing was that
| it was self propogating.  If you saw a web page with a certain effect and
| wanted to know how it was done, you could simply &quot;view source&quot; to get the
| &quot;source code&quot; and then adapt it to your own page.  You can still do that
| with pages that look like this one, but since most Web pages are no longer
| made by hand, you&apos;ll often see tons of incomprehensible gibberish (the more
| special effects, the more gibberish), for example
| at 
a(href='https://www.cnn.com') CNN
| .
p
  | Anyway, if you have mastered the simple techniques shown in this page, you
  | know the basics.  Which is more than can be said of many &quot;web designers&quot; who
  | only know how to use prepackaged software to create web pages by picking
  | things from menus and moving things around with a mouse.  To go further,
  | you can almost always find out how to do what you want by searching
  | Google (&quot;html how do I ...?&quot;), or looking at the HTML code of different
  | websites (browser &quot;view source&quot; command) but, again, only for pages
  | that look like this one.
p
  | Of course HTML is a standard, and here are the official references:
ul
  li
    | The
    a(href='https://www.w3.org/TR/html52/')
      | HTML
      | 5.2 specification
    |  (2017).
  li
    a(href='https://developer.mozilla.org/en-US/docs/Web/CSS')
      | Cascading
      | Style Sheets
    |  (yet another &quot;standard&quot; layered on top of HTML, which, like
    | HTML goes through many versions, each one making the previous one obsolete).
| You can check the validity of your web page at
| the 
a(href='http://validator.w3.org/') W3C Markup Validation Service
| .
| Note that this page itself does not pass the Validator because it uses a
| number of &quot;obsolete&quot; elements.  That&apos;s because (a) they are much easier to
| explain, and (b) they still work.  For the first 20 years or so HTML was in
| constant flux, but with the release of HTML5 in 2014, it seems to be pretty
| stable.
p
  | If you have made mistakes it will let you know, and if you have used &quot;old&quot;
  | or &quot;deprecated&quot; HTML features it will let you know that too, and usually also
  | suggest a modern replacement.
h3#fluid 12. Postscript: Cell Phones
div(style='overflow-x:auto;')
  | The original Web was composed of pages designed to fit on desktop computer
  | screens, which, over time, became wider and wider.  But then suddenly they
  | also had to fit on miniscule cell-phone and even &quot;smart watch&quot; screens.  The
  | main pitfall is that an image might be too wide for the screen, so the image
  | width should be specified as a percentage of the viewport width, e.g.:
div(style='overflow-x:auto')
  blockquote
    pre.
      \n<img alt="Brief description" 
       title="Slightly longer description"
       src="picture-of-something.jpg"
       style="width:100%;">
            
| Text, on
| the other hand, usually just flows to accomodate the viewport.  But if your
| page includes text that must not be &quot;wrapped&quot; (for example, program source
| code, poetry, computer dialog transcripts), you have to enclose such
| sections within:
p
blockquote
  tt &lt;div style=&quot;overflow-x:auto; white-space:pre&quot;&gt;
  br
  i material that must not wrap
  br
  tt &lt;/div&gt;
p
  | as has been done in several places above, in which case a horizontal
  | scroll bar will appear automatically if the non-wrapping text is wider than
  | the viewport.  If you are viewing this page on a wide screen, you can
  | see this effect if you squeeze your browser horizontally to its minimum
  | width and then scroll through this page.
p
  i (End)
p
  a(href='/~fdc/index.html') Frank da Cruz
  br
  i Page created:
  | 1992
  br
  i Last&nbsp;update:
  // (or Revised:)
  | 17 September 2021
  br
  script.
    document.writeln('<span style="margin:0">[<a \\
    href="http://validator.w3.org/check?uri=' +
    escape(window.location.href) + '">validate<\\/a>]</span>');
  span(style='margin:0')
    | [
    a(href='http://validator.w3.org/check?uri=http%3A//www.columbia.edu/%7Efdc/sample.html') validate
    | ]
p
hr
p
  // close the <body> begun above
  // close the <html> begun above
